<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>PluginVersion</key>
    <string>1.0.REPLACEME</string>
    <key>ServerApiVersion</key>
    <string>1.0.0</string>
    <key>CFBundleDisplayName</key>
    <string>TR64 Router Monitor</string>
    <key>CFBundleName</key>
    <string>TR64 Router Monitor</string>
    <key>CFBundleIdentifier</key>
    <string>ro.ka.indigo-plugin.tr64routermonitor</string>
    <key>CFBundleVersion</key>
    <string>1.0.0</string>
    <key>CFBundleURLTypes</key>
    <array>
        <dict>
            <key>CFBundleURLName</key>
            <string>https://github.com/bpannier/TR64RouterMonitor/blob/master/README.rst</string>
        </dict>
    </array>
</dict>
</plist>
